<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.219508380677-1lec5othbt67apu30ee2vut15lp0agcl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.219508380677-1lec5othbt67apu30ee2vut15lp0agcl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>219508380677-1lec5othbt67apu30ee2vut15lp0agcl.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<string>YES</string>
</dict>
</plist>
